#foto-perfil {
  border-radius: 50%;
  object-fit: cover;
  height: 300px;
  width: 300px;
  border: 4px solid var(--maisClaro)
} 
h1 {
  text-align: center;
  font-size: 3rem;
}
.container-header {
  padding-top: 50px;
}