.container-nav {
  background-color: var(--footer-nav);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Garante que fique acima de tudo */

}

ul {
  display: flex;
  list-style: none;
  font-weight: bolder;
  
}
li {
  margin: 3rem;
}
a {
  text-decoration: none;
}
