* {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.container-nav {
  width: 100%;  
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que fique acima de tudo */
}