* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: var(--claro);
}
html {
  scroll-behavior: smooth;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--claro);

  --primaria: #2E4F4F;
  --segundaria: #0E8388:
  --maisClaro: #CBE4DE;
  --claro: #fff;
  --vidro: rgba(255,255,255,0.1);
  --footer-nav: #2C3333;
}




